<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Трейдинг дневник | Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/home.css') }}">
</head>
<body class="home-page">

<div class="home-container">
    <div class="top-line"></div>

    <div class="home-left">
        <h1 class="main-title">ТВОЙ ЛИЧНЫЙ<br><span class="accent-text">ДНЕВНИК</span> ТРЕЙДЕРА</h1>
        <div class="purple-line"></div>
        <p class="description">
            Ручной учёт сделок, аналитика и контроль эмоций.<br>
            Улучшай свои результаты каждый день вместе с нами.
        </p>
        <a href="/auth-page?mode=login" class="home-btn">ВХОД</a>
    </div>

    <div class="home-right">
        <div class="register-group">
            <div class="reg-line"></div>
            <a href="/auth-page?mode=register" class="home-btn">РЕГИСТРАЦИЯ</a>
            <div class="reg-line"></div>
        </div>

        <div class="profile-shot-wrapper">
            <img src="{{ url_for('static', path='/img/profile.png') }}" alt="Интерфейс">
        </div>
    </div>
</div>

</body>
</html>